html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	border: 1px solid #ffffff;
	border-radius: 50px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 35%;
	padding: 10px 36px 	;
	transition: 0.3s;
}
.first_btns{
justify-content: normal;
gap: 1%;
}
.first_btn{
	background: #FF7B47;
	margin-left: 18%;
}
.btn:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

/*header*/
/* .head {
	padding: 20px 0;
	align-items: end;
}
.menu li:last-child{
	margin-right: 0;
}
.menu a{
width: 1322px;
height: 104px;
left: 59px;
border-radius: 34px;
gap: 324px;

}
.menu a:hover{
	background: #dbdfd0;
} */
.head_a{
	color: white;
	margin-right: 21px;
}
.head_tittle{
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: white;
}
.header{
	justify-content: space-between;
}
/*MAIN*/
.first_tit{
	color: white;
	width: 635px;
font-family: Montserrat;
font-size: 58px;
font-weight: 800;
line-height: 80px;
letter-spacing: 0.20000000298023224px;
text-align: center;

}
.first_txt{
	color: white;
	width: 632px;
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.20000000298023224px;
text-align: center;
margin: 40px 0 40px;
}
.first{
	background: url(/start/img/background\ \(1\).jpg) center no-repeat;
	padding: 38px 0;
}
.first_all_txt{
    margin: 7% 28%;
}

.second_tit{
	margin: 20px 0;
	font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;

}
.second_card_txt{
	margin-bottom: 20px;
	font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: left;
width: 148px;
}
.secon_card_ic{
	width: 36%;
}
.second{
	background: #FAFAFA;
}
.second_card{
	background: white;
	padding: 3%;
	transition: 0.5s;
}
.second_card:hover{
	background: #252B42;
	color: white;
}
.second_cards{
	justify-content: space-around;
}
.secon_card_btn{
	border: 1px solid #000000;
	color: black;
}
.who_tit{
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 57px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	margin-bottom: 20px;
}
.who_txt{
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	
}
.who_right_tit{
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.20000000298023224px;
text-align: left;
width: 324px;
}
.who_right_txt{
	width: 330px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	margin: 3%;
	margin-bottom: 40px;
}
.who_cards{
	flex-wrap: nowrap;
	gap: 9%;
	margin-top: 100px;
}
.who_right_card_tit{
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;
width: 277px;
color: black;
}
.who_right_card_txt{
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #737373;
}
.who_right_card_ic{
	margin-right: 3%;
}
.who_right_cards{
	margin-bottom: 30px;
}
.who_right{
	align-self: center;
}
.say_tit{
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.20000000298023224px;
text-align: left;

}